body{
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;
    /* font-size: 1em; */
    
}
.Top_container{
    background-color: #F6F1E9;

    position: relative;
    padding-top: 100px;
    

}

h1{
    font-size: 5rem;
    font-style: italic;
    color: #4F4557;
    margin-top: 0 ;
    font-family: 'Sacramento', cursive;
}
h2
{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    margin: 0;
}
.web {
    text-decoration: underline;
}
.Middle_container
{
    background-color: #6D5D6E;
     
}
.myself
{
    width: 24vh;
    border: 2px solid white;
    border-radius: 90px;
    padding: 3px;
}
.Bottom_container
{
    background-color: #F4EEE0;
    
}
.bottom_cloud
{
    width: 20vh;
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top_cloud
{
    width: 20vh;
    position: absolute ;
    right: 300px;
    top: 50px;
    
}
.comp
{
    position: relative;
    width: 25vh;
    border-radius: 30vh;
    border: 2px solid white;
    padding: 3px;
}

.chillies
{
    position: relative;
    width: 25vh;
    border: 2px solid white;
    border-radius: 90px;
    padding: 3px;

}

